<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1 style="text-align: center;">
    <%= title %>
  </h1>
  <p>Welcome to <%= title %>
  </p>
  <p>Messages:</p>
  <ul>
    <% for (let index=0; index < messages.length; index++) { %>
      <dd style="border-bottom: 2px solid red; width: 100px; font-weight: bold;">
        <%= messages[index].username %>

      </dd>
      <dl>
        <%= messages[index].text %>
      </dl>
      <dl>
        <%= messages[index].added.getDate() %>-<%= messages[index].added.getMonth() %>-<%= messages[index].added.getFullYear() %>

      </dl>
      <% } %>
  </ul>

  <a href="http://localhost:3001/new">New Message</a>
</body>

</html>