<!doctype html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% result.forEach(blog => { %>
    <h2>
      <a href="/blog/<%= blog.id %>"><%= blog.title %></a>
    </h2>
    <% }) %>
  </body>
</html>
